{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="top_home">
            <img src="{{ asset('img/bg_small.jpg') }}" class="img_bg">
            <div class="titre animate__animated animate__fadeIn">
                <h1>Maitrise Web</h1>
                <h3>Page de contact</h3>
            </div>
        </div>

        <div class="title">
            <h3>Une question ? Un projet ?</h3>
            <h4>Contactez-nous via notre formulaire de contact.</h4>
        </div>

        <div class="sepa"></div>

        <div class="container_contact" id="contactForm">
            {% for message in app.flashes('success') %}
                <div class="success">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(form) }}
            <div class="form_contact ">
                <div class="client">
                    <div class="name">
                        {{ form_row(form.nom) }}
                    </div>

                    <div class="name">
                        {{ form_row(form.prenom) }}
                    </div>
                </div>

                <div class="form_content">
                    {{ form_row(form.telephone) }}
                </div>

                <div class="form_content">
                    {{ form_row(form.mail) }}
                </div>

                <div class="form_content">
                    {{ form_row(form.sujet) }}
                </div>

                <div class="form_content">
                    {{ form_row(form.message) }}
                </div>

                {{ form_row(form.submit)}}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}