{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="top_home">
            <img src="{{ asset('img/modif.jpg') }}" class="img_bg">
            <div class="titre animate__animated animate__fadeIn">
                <h1>Maitrise Web</h1>
                <h3>Agence de Communication Digitale & Création de Site Internet.</h3>
            </div>
        </div>

        <div class="container_home">
            <div class="card_img">
                <img src="{{ asset('img/logo_transpa.png') }}" class="img_home">
            </div>

            <div class="card_text">
                <h3>Bienvenue sur le site Web de notre agence de Communication Digitale & Création de Site Internet.</h3>
            </div>
        </div>

        <div class="sepa"></div>

        <div class="title">
            <h3>Nos différents pôles</h3>
        </div>

        <div class="container_pole">
            <a href="{{ path('presentation') }}#dev" class="pole_developpement">
                <img src="{{ asset('img/dev.jpg') }}" class="img_dev">
                <h4>Pôle Développement</h4>
                <p class="text_pole">Notre technique au coeur du process de notre pôle développement.</p>
            </a>

            <a href="{{ path('presentation') }}#ref" class="pole_referencement">
                <img src="{{ asset('img/dev.jpg') }}" class="img_ref">
                <h4>Pôle Référencement</h4>
                <p class="text_pole">Positionnement, visibilité & suivi sont essentiels à votre dévellopements.</p>
            </a>

            <a href="{{ path('presentation') }}#graph" class="pole_graphique">
                <img src="{{ asset('img/dev.jpg') }}" class="img_gra">
                <h4>Pôle Graphique</h4>
                <p class="text_pole">Créativité, graphisme & esthétique sont les maîtres mots de notre équipe graphique.</p>
            </a>
        </div>

        <div class="sepa"></div>

        <div class="title">
            <h3>Nos dernières réalisations</h3>
        </div>

        <div class="container_proj">
            <div class="card_proj">
                <a href="" class="ti">
                    Nom du projet
                </a>
                <a href="#" class="proj">
                    <img src="{{ asset('img/proj.jpg') }}" class="img_proj">
                </a>
            </div>

            <div class="card_proj">
                <a href="" class="ti">
                    Nom du projet
                </a>
                <a href="#" class="proj">
                    <img src="{{ asset('img/proj.jpg') }}" class="img_proj">
                </a>
            </div>

            <div class="card_proj">
                <a href="" class="ti">
                    Nom du projet
                </a>
                <a href="#" class="proj">
                    <img src="{{ asset('img/proj.jpg') }}" class="img_proj">
                </a>
            </div>

            <div class="card_proj">
                <a href="" class="ti">
                    Nom du projet
                </a>
                <a href="#" class="proj">
                    <img src="{{ asset('img/proj.jpg') }}" class="img_proj">
                </a>
            </div>

            <div class="card_proj">
                <a href="" class="ti">
                    Nom du projet
                </a>
                <a href="#" class="proj">
                    <img src="{{ asset('img/proj.jpg') }}" class="img_proj">
                </a>
            </div>
        </div>

        <div class="more">
            <a href="">En voir plus ></a>
        </div>

        <div class="sepa"></div>

        <div class="redirect">
            <h5>Envie de nous parler de vos projets ?</h5>
            <a href="{{ path('contact') }}">Contatez-nous</a>
        </div>
    </div>
{% endblock %}