{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="top_home">
            <img src="{{ asset('img/bg_small.jpg') }}" class="img_bg">
            <div class="titre animate__animated animate__fadeIn">
                <h1>Maitrise Web</h1>
                <h3>Page de présentation</h3>
            </div>
        </div>

        <div class="title_pres">
            <h3>Créative & efficace, l’Agence Maitrise Web est une agence de communication à taille humaine.</h3>
            <p>Notre agence vous accompagne dans la promotion de vos produits ou services. Conscient que les moyens de mise en valeur sont de plus en plus important, nos experts dans la conception et le référencement mettent leur savoir-faire à votre disposition pour vous démarquer sur l’ensemble des supports numériques, et cela dans toute la france.</p>
            <p>De la conception de votre identité visuelle à la création de votre stratégie digitale, chaque étape de votre projet est personnalisée, et nous sommes la pour répondre à vos questions.</p>
        </div>

        <div class="sepa" id="dev"></div>

        <div class="title">
            <h3>Pôle Développement</h3>
        </div>
        
        <div class="container_dev">
            <div class="container_img">
                <img src="{{ asset('img/pole.jpg') }}" class="dev_img">
            </div>

            <div class="container_txt">
                <h5>Notre technique au coeur du process de notre pôle développement.</h5>
                <p>Pour un site internet sur mesure, notre équipe met son savoir-faire à votre disposition. Nos webmasters abordent chaque projet avec une approche personnalisée, et vous conseille à chaque étape de la création de votre Site internet.</p>
                <p>Vous disposez d’un suivi de qualité et d’une expertise reconnue quel que soit votre support : Site internet, boutique en ligne, site vitrine, site responsive… pour un rendu efficace, simple & intuitif.</p>
            </div>
        </div>
        
        <div class="sepa"></div>

        <div class="title">
            <h3>Pôle Référencement</h3>
        </div>

        <div class="container_ref">
            <div class="container_txt">
                <h5>Positionnement, visibilité & suivi sont essentiels à votre dévellopements.</h5>
                <p>Notre équipe vous aide à booster votre visibilité sur les moteurs de recherche et les réseaux sociaux. Du référencement naturel (SEO) à la mise en place d’une campagne Google Adwords (SEA) en passant par le social media, nos spécialistes vous aide à capter une audience ciblée & vous rapproche de vos futurs clients.</p>
                <p>La performance de vos campagnes digitales est étroitement étudiée pour ajuster votre stratégie, spécifiquement adapté à votre secteur d’activité..</p>
            </div>

            <div class="container_img">
                <img src="{{ asset('img/pole.jpg') }}" class="ref_img">
            </div>
        </div>
        
        <div class="sepa"></div>

        <div class="title">
            <h3>Pôle Graphique</h3>
        </div>

        <div class="container_graph">
            <div class="container_img">
                <img src="{{ asset('img/pole.jpg') }}" class="graph_img"> 
            </div>

            <div class="container_txt">
                <h5>Créativité, graphisme & esthétique sont les maîtres mots de notre équipe graphique.</h5>
                <p>De la création d’un nouveau logo à des besoins en webdesign jusqu’à la refonte globale d3 votre identité, notre studio graphique vous apporte ses idées et sa rigueur. Vous bénéficiez de créations sur mesure et de propositions originales. Notre équipe peut aussi gérer pour vous la conception graphique et l’impression de tous vos supports de communication : grands formats, affiches, flyers, cartes de visite,… etc.</p>
            </div>
        </div>

        <div class="sepa"></div>

        <div class="redirect">
            <h5>Envie de nous parler de vos projets ?</h5>
            <a href="{{ path('contact') }}">Contatez-nous</a>
        </div>
    </div>
{% endblock %}