{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="top_home">
            <img src="{{ asset('img/bg_small.jpg') }}" class="img_bg">
            <div class="titre animate__animated animate__fadeIn">
                <h1>Maitrise Web</h1>
                <h3>Page de nos réalisations</h3>
            </div>
        </div>

        <div class="title">
            <h3>Nos projets & créations</h3>
            <h4>Retrouvez ici nos projets finis.</h4>
        </div>

        <div class="sepa"></div>

        <div class="title">
            <h3>Nos différents projets réalisés</h3>
        </div>

        <div class="container_categorie">
            <div class="cate">
                <p>Tout</p>
            </div>

            <div class="cate">
                <p>Site vitrine</p>
            </div>

            <div class="cate">
                <p>Site e-commerce</p>
            </div>
        </div>

        <div class="container_proj">
            {% for projet in projets %}
                <div class="card_proj">
                    <a href="{{ projet.linkprojet }}" target="_blank" class="ti">
                        {{ projet.nameprojet }}
                    </a>
                    <a href="#" class="proj">
                        <img src="{{ asset('img/' ~ projet.imageprojet) }}" class="img_proj">
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="sepa"></div>

        <div class="redirect">
            <h5>Envie de nous parler de vos projets ?</h5>
            <a href="{{ path('contact') }}">Contatez-nous</a>
        </div>
    </div>
{% endblock %}