<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ asset('img/icon.jpg') }}">
        <title>{% block title %}Maitrise Web{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}{% endblock %}
        
            <header>
                <nav class="navbar">
                    <div class="logo">
                            <a href="{{ path('home') }}"><img src="{{ asset('img/logo_transpa.png') }}" class="log">Maitrise Web</a>
                    </div>

                    <div id="nav" class="respon">
                        <div class="menu">
                            <ul>
                                <li class="categorie dropdown">
                                    <p>Présentation <i class="fa-solid fa-caret-down"></i></p>

                                    <div class="dd-mnu">
                                        <ul class="dropdown-menu">
                                            <li class="sous-cat animate__animated animate__fadeIn">
                                                <a href="{{ path('presentation') }}#dev" class="hov">Pôle Développement</a>
                                            </li>

                                            <div class="separator animate__animated animate__fadeIn"></div>

                                            <li class="sous-cat animate__animated animate__fadeIn">
                                                <a href="{{ path('presentation') }}#ref" class="hov">Pôle Référencement</a>
                                            </li>

                                            <div class="separator animate__animated animate__fadeIn"></div>

                                            <li class="sous-cat animate__animated animate__fadeIn">
                                                <a href="{{ path('presentation') }}#graph" class="hov">Pôle Graphique</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="categorie dropdown">
                                    <a href="{{ path('realisation') }}">Réalisations</a>
                                </li>

                                <li class="categorie dropdown">
                                    <a href="{{ path('conseils') }}">Conseils</a>
                                </li>

                                <li class="categorie dropdown">
                                    <a href="{{ path('contact') }}">Contact</a>
                                </li>
                            </ul>
                        </div>

                        <div class="account">
                            <a href="{{ path('projet') }}">Voir mon projet <i class="fa-solid fa-caret-right"></i></a>
                        </div>
                    </div>

                    <div class="burger" id="toggle-button">
                        <i class="fas fa-bars"></i>
                    </div>
                </nav>
            </header>

        {% block body %}{% endblock %}

        <a href="#" class="go_top"><i class="fa-solid fa-angle-up"></i></a>

        {% block footer %}{% endblock %}

        <footer>
            <div class="reseaux_container">
                <h3>Retrouvez-nous aussi sur :</h3>
                <div class="reseaux">
                    <a href="" class="fb">
                        <i class="fa-brands fa-facebook-square"></i>
                        Facebook
                    </a>

                    <a href="" class="tw">
                        <i class="fa-brands fa-twitter-square"></i>
                        Twitter
                    </a>

                    <a href="" class="git">
                        <i class="fa-brands fa-github-square"></i>
                        Github
                    </a>

                    <a href="" class="ld">
                        <i class="fa-brands fa-linkedin"></i>
                        Linkedin
                    </a>
                </div>
            </div>

            <div class="sepa"></div>

            <div class="contact_footer">
                <div class="maitrise_fcontainer">
                    <h3>Maitrise Web</h3>
                    <p>Agence de communication aux services des entreprises.</p>
                    <p>Créations d'une identité visuelle, d'une création web,</p>
                    <p>d'un dépliant, ou tout autre moyen de communication</p>
                </div>

                <div class="contact_fcontainer">
                    <h3>Contactez-nous</h3>
                    <p>Email : jordanclosse@maitrise-web.fr</p>
                    <p>Tel : 07 88 45 35 82</p>
                </div>
            </div>

            <div class="sepa"></div>

            <div class="copy">
                <p>© 2022 Copyright: <a href="{{ path('connexion') }}" class="admin">Maitrise Web</a> | Tous droits Reservés | Mentions légales | Politique de confidentialité | CGV</p>
            </div>
        </footer>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="{{ asset('js/navbar_responsive.js') }}"></script>
<script src="{{ asset('js/navbar_drop.js') }}"></script>
<script src="{{ asset('js/back_to_top.js') }}"></script>
    </body>
</html>
